---
const search =
  Astro.url.searchParams.get('search') || ''

const en = [
  [
    'w',
    `https://en.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr es',
    `https://www.wordreference.com/enes/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/enfr/${search}`,
  ],
  [
    'm-w',
    `https://www.merriam-webster.com/dictionary/${search}`,
  ],
  [
    'c de',
    `https://dictionary.cambridge.org/dictionary/english-german/${search}`,
  ],
]
const es = [
  [
    'w',
    `https://es.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr en',
    `https://www.wordreference.com/esen/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/esfr/${search}`,
  ],
  [
    'wr ⇒',
    `https://www.wordreference.com/conj/esverbs.aspx?v=${search}`,
  ],
]
const fr = [
  [
    'w',
    `https://fr.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr es',
    `https://www.wordreference.com/fres/${search}`,
  ],
  [
    'wr en',
    `https://www.wordreference.com/fren/${search}`,
  ],
  [
    'wr it',
    `https://www.wordreference.com/frit/${search}`,
  ],
  [
    'wr de',
    `https://www.wordreference.com/frde/${search}`,
  ],
  [
    'r',
    `https://dictionnaire.lerobert.com/definition/${search}`,
  ],
]
const it = [
  [
    'w',
    `https://it.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/itfr/${search}`,
  ],
  [
    'wr ⇒',
    `https://www.wordreference.com/conj/itverbs.aspx?v=${search}`,
  ],
]
const de = [
  [
    'w',
    `https://de.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/defr/${search}`,
  ],
  [
    'c en',
    `https://dictionary.cambridge.org/dictionary/german-english/${search}`,
  ],
]

import Language from '../components/language.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>
      {
        `${search && `${search} – `}SupraDictionary`
      }
    </title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
  </head>

  <body class='container'>
    <form>
      <input
        type='text'
        name='search'
        autofocus
        autocapitalize='off'
      />
      <input type='submit' hidden />
    </form>

    <h1>{search}</h1>
    <div class='row'>
      <Language
        lang='English'
        list={en}
        color='purple'
      />
      <Language
        lang='Spanish'
        list={es}
        color='red'
      />
      <Language
        lang='French'
        list={fr}
        color='grey'
      />
      <Language
        lang='Italian'
        list={it}
        color='blue'
      />
      <Language
        lang='German'
        list={de}
        color='green'
      />
    </div>
  </body>
</html>
