---
const search =
  Astro.url.searchParams
    .get('search')
    ?.toLowerCase() || ''

const sites = [
  [
    'Google',
    `https://www.google.com/search?q=${search}+cam`,
  ],
  [
    'ArchiveBate',
    `https://archivebate.com/profile/${search}`,
  ],
  [
    'LiveCamRips',
    `https://www.livecamrips.com/search/${search}/1`,
  ],
  [
    'ShowCamRips',
    `https://www.showcamrips.com/model/en/${search}`,
  ],
  [
    'XGirls',
    `https://xgirls.webcam/search/${search}`,
  ],
  [
    'XHomeAlone',
    `https://xhomealone.com/search/${search}`,
  ],
  [
    'BestCam',
    `https://bestcam.tv/model/${search}`,
  ],
  [
    'WebCamRips',
    `https://webcamrips.to/?s=${search}`,
  ],
  [
    'WebPussi',
    `https://www.webpussi.com/search/${search}`,
  ],
  ['Recu', `https://recu.me/performer/${search}`],
  [
    'ChaturFlix',
    `https://chaturflix.cam/performer/${search}`,
  ],
  [
    'CamWhoresBay (broken)',
    `https://www.camwhoresbay.com/tags/${search}`,
  ],
  [
    'CumCams',
    `https://cumcams.cc/performer/${search}`,
  ],
  ['CamWh', `https://camwh.com/search/${search}`],
  [
    'ECamRips',
    `https://www.ecamrips.com/model/en/${search}`,
  ],
  [
    'StreamLeak',
    `https://stream-leak.com/search/${search}`,
  ],
  [
    'Fap666',
    `http://www.fap666.com/search/${search}`,
  ],
  [
    'Curbate',
    `https://curbate.tv/models/${search}/videos`,
  ],
  [
    'CamStreams',
    `https://camstreams.tv/search/${search}`,
  ],
]
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>
      {`${search && `${search} – `}MetaSearchCam`}
    </title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
  </head>

  <body class='container'>
    <form>
      <input
        type='text'
        name='search'
        autofocus
      />
      <input type='submit' hidden />
    </form>

    <h1>{search}</h1>

    <div class='collection'>
      {
        sites.map(site => (
          <a
            href={site[1]}
            target='_blank'
            class='collection-item'
          >
            {site[0]}
          </a>
        ))
      }
    </div>
  </body>
</html>
