---
let search = 'sasha_amour'

try {
  const data = await Astro.request.formData()
  search =
    data.get('search').toString().toLowerCase() ||
    ''
} catch (error) {}
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <h1>Results for {search}:</h1>
    <form hx-post=''>
      <input
        type='text'
        name='search'
        value={search}
      />
      <button type='submit'>{search} add</button>
    </form>

    <a
      href={`https://www.google.com/search?q=${search}+cam`}
      target='_blank'
    >
      Google
    </a>
    <a
      href={`https://archivebate.com/profile/${search}`}
      target='_blank'
    >
      ArchiveBate
    </a>
    <a
      href={`https://www.livecamrips.com/search/${search}/1`}
      target='_blank'
    >
      LiveCamRips
    </a>
    <a
      href={`https://www.showcamrips.com/model/en/${search}`}
      target='_blank'
    >
      ShowCamRips
    </a>
    <a
      href={`https://xgirls.webcam/search/${search}`}
      target='_blank'
    >
      XGirls
    </a>
    <a
      href={`https://xhomealone.com/search/${search}`}
      target='_blank'
    >
      XHomeAlone
    </a>
    <a
      href={`https://bestcam.tv/model/${search}`}
      target='_blank'
    >
      BestCam
    </a>
    <a
      href={`https://webcamrips.to/?s=${search}`}
      target='_blank'
    >
      WebCamRips
    </a>
    <a
      href={`https://www.webpussi.com/search/${search}`}
      target='_blank'
    >
      WebPussi
    </a>
    <a
      href={`https://recu.me/performer/${search}`}
      target='_blank'
    >
      Recu
    </a>
    <a
      href={`https://chaturflix.cam/performer/${search}`}
      target='_blank'
    >
      ChaturFlix
    </a>
    <a
      href={`https://www.camwhoresbay.com/tags/${search}`}
      target='_blank'
    >
      CamWhoresBay (broken)
    </a>
    <a
      href={`https://cumcams.cc/performer/${search}`}
      target='_blank'
    >
      CumCams
    </a>
    <a
      href={`https://camwh.com/search/${search}`}
      target='_blank'
    >
      CamWh
    </a>
    <a
      href={`https://www.ecamrips.com/model/en/${search}`}
      target='_blank'
    >
      ECamRips
    </a>
    <a
      href={`https://stream-leak.com/search/${search}`}
      target='_blank'
    >
      StreamLeak
    </a>
  </body>
</html>
