---
const search =
  Astro.url.searchParams.get('search') || ''

const en = [
  [
    'w',
    `https://en.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr es',
    `https://www.wordreference.com/enes/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/enfr/${search}`,
  ],
  [
    'm-w',
    `https://www.merriam-webster.com/dictionary/${search}`,
  ],
  // [
  //   'c de',
  //   `https://dictionary.cambridge.org/dictionary/english-german/${search}`,
  // ],
  [
    'wr it',
    `https://www.wordreference.com/enit/${search}`,
  ],
  [
    'wr pt',
    `https://www.wordreference.com/enpt/${search}`,
  ],
]
const es = [
  [
    'w',
    `https://es.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr en',
    `https://www.wordreference.com/esen/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/esfr/${search}`,
  ],
  [
    'wr ⇒',
    `https://www.wordreference.com/conj/esverbs.aspx?v=${search}`,
  ],
  [
    'wr it',
    `https://www.wordreference.com/esit/${search}`,
  ],
  [
    'wr pt',
    `https://www.wordreference.com/espt/${search}`,
  ],
]
const fr = [
  [
    'w',
    `https://fr.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr es',
    `https://www.wordreference.com/fres/${search}`,
  ],
  [
    'wr en',
    `https://www.wordreference.com/fren/${search}`,
  ],
  [
    'wr it',
    `https://www.wordreference.com/frit/${search}`,
  ],
  [
    'wr pt',
    `https://www.wordreference.com/frpt/${search}`,
  ],
  // [
  //   'wr de',
  //   `https://www.wordreference.com/frde/${search}`,
  // ],
  [
    'r',
    `https://dictionnaire.lerobert.com/definition/${search}`,
  ],
]
const it = [
  [
    'w',
    `https://it.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/itfr/${search}`,
  ],
  [
    'wr ⇒',
    `https://www.wordreference.com/conj/itverbs.aspx?v=${search}`,
  ],
  [
    'wr en',
    `https://www.wordreference.com/iten/${search}`,
  ],
  [
    'wr es',
    `https://www.wordreference.com/ites/${search}`,
  ],
  [
    'wr pt',
    `https://www.wordreference.com/itpt/${search}`,
  ],
]
const pt = [
  [
    'w',
    `https://pt.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/ptfr/${search}`,
  ],
  // [
  //   'wr ⇒',
  //   `https://www.wordreference.com/conj/ptverbs.aspx?v=${search}`,
  // ],
  [
    'wr en',
    `https://www.wordreference.com/pten/${search}`,
  ],
  [
    'wr es',
    `https://www.wordreference.com/ptes/${search}`,
  ],
  [
    'wr it',
    `https://www.wordreference.com/ptit/${search}`,
  ],
  [
    'PLP',
    `http://www.portaldalinguaportuguesa.org/simplesearch.php?sel=exact&action=simplesearch&base=form&sel=exact&query=${search}&ok=OK`,
  ],
  [
    'P',
    `https://dicionario.priberam.org/${search}`,
  ],
]
const de = [
  [
    'w',
    `https://de.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/defr/${search}`,
  ],
  [
    'c en',
    `https://dictionary.cambridge.org/dictionary/german-english/${search}`,
  ],
]

import Language from '../components/language.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/SD.png'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>
      {
        `${search && `${search} – `}SupraDictionary`
      }
    </title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
  </head>

  <body class='container'>
    <form>
      <input
        type='text'
        name='search'
        autofocus
        autocapitalize='off'
      />
      <input type='submit' hidden />
    </form>

    <h1>{search}</h1>
    <Language
      lang='English'
      list={en}
      color='purple'
    />
    <Language
      lang='Spanish'
      list={es}
      color='red'
    />
    <Language
      lang='French'
      list={fr}
      color='grey'
    />
    <Language
      lang='Italian'
      list={it}
      color='blue'
    />
    <Language
      lang='Portuguese'
      list={pt}
      color='green'
    />
    <!-- <Language
        lang='German'
        list={de}
        color='green'
      /> -->
  </body>
</html>
