---
const search =
  Astro.url.searchParams
    .get('search')
    ?.toLowerCase() || ''

const en = [
  [
    'w',
    `https://en.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr es',
    `https://www.wordreference.com/enes/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/enfr/${search}`,
  ],
  [
    'm-w',
    `https://www.merriam-webster.com/dictionary/${search}`,
  ],
]
const es = [
  [
    'w',
    `https://es.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr en',
    `https://www.wordreference.com/esen/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/esfr/${search}`,
  ],
]
const fr = [
  [
    'w',
    `https://fr.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr es',
    `https://www.wordreference.com/fres/${search}`,
  ],
  [
    'wr en',
    `https://www.wordreference.com/fren/${search}`,
  ],
  [
    'wr it',
    `https://www.wordreference.com/frit/${search}`,
  ],
  [
    'wr de',
    `https://www.wordreference.com/frde/${search}`,
  ],
  [
    'r',
    `https://dictionnaire.lerobert.com/definition/${search}`,
  ],
]
const it = [
  [
    'w',
    `https://en.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/itfr/${search}`,
  ],
]
const de = [
  [
    'w',
    `https://de.wiktionary.org/wiki/${search}`,
  ],
  [
    'wr fr',
    `https://www.wordreference.com/defr/${search}`,
  ],
]
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>
      {
        `${search && `${search} – `}SupraDictionary`
      }
    </title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
  </head>

  <body class='container'>
    <form>
      <input
        type='text'
        name='search'
        autofocus
      />
      <input type='submit' hidden />
    </form>

    <h1>{search}</h1>
    <div class='row'>
      <div class='col'>
        <p>English</p>
        <div>
          {
            en
              .sort((a, b) =>
                a[0].localeCompare(b[0])
              )
              .map(site => (
                <a
                  href={site[1]}
                  target='_blank'
                  class='btn purple'
                >
                  {site[0]}
                </a>
              ))
          }
        </div>
      </div>
      <div class='col'>
        <p>Spanish</p>
        <div>
          {
            es
              .sort((a, b) =>
                a[0].localeCompare(b[0])
              )
              .map(site => (
                <a
                  href={site[1]}
                  target='_blank'
                  class='btn red'
                >
                  {site[0]}
                </a>
              ))
          }
        </div>
      </div>
      <div class='col'>
        <p>French</p>
        <div>
          {
            fr
              .sort((a, b) =>
                a[0].localeCompare(b[0])
              )
              .map(site => (
                <a
                  href={site[1]}
                  target='_blank'
                  class='btn white'
                >
                  {site[0]}
                </a>
              ))
          }
        </div>
      </div>
      <div class='col'>
        <p>Italian</p>
        <div>
          {
            it
              .sort((a, b) =>
                a[0].localeCompare(b[0])
              )
              .map(site => (
                <a
                  href={site[1]}
                  target='_blank'
                  class='btn blue'
                >
                  {site[0]}
                </a>
              ))
          }
        </div>
      </div>
      <div class='col'>
        <p>German</p>
        <div>
          {
            de
              .sort((a, b) =>
                a[0].localeCompare(b[0])
              )
              .map(site => (
                <a
                  href={site[1]}
                  target='_blank'
                  class='btn green'
                >
                  {site[0]}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </body>
</html>
