---
const search =
  Astro.url.searchParams
    .get('search')
    ?.toLowerCase() || ''

const sites = [
  [
    'XGirls',
    `https://xgirls.webcam/search/${search}`,
  ],
  [
    'XHomeAlone',
    `https://xhomealone.com/search/${search}`,
  ],
  [
    'BestCam',
    `https://bestcam.tv/model/${search}`,
  ],
  [
    'WebCamRips',
    `https://webcamrips.to/?s=${search}`,
  ],
  [
    'WebPussi',
    `https://www.webpussi.com/search/${search}/`,
  ],
  ['Recu', `https://recu.me/performer/${search}`],
  [
    'ChaturFlix',
    `https://chaturflix.cam/performer/${search}`,
  ],
  [
    'CamWhoresBay',
    `https://www.camwhoresbay.com/search/${search}/`,
  ],
  [
    'CumCams',
    `https://cumcams.cc/performer/${search}`,
  ],
  ['CamWh', `https://camwh.com/search/${search}`],
  [
    'ECamRips',
    `https://www.ecamrips.com/model/en/${search}`,
  ],
  [
    'StreamLeak',
    `https://stream-leak.com/search/${search}`,
  ],

  [
    'Curbate',
    `https://curbate.tv/models/${search}/videos`,
  ],
  [
    'CamStreams',
    `https://camstreams.tv/search/${search}`,
  ],
  [
    'CamWhores',
    `https://www.camwhores.tv/search/${search}/`,
  ],
  [
    'PornZog',
    `https://pornzog.com/search/?s=${search}`,
  ],
  [
    'CamHub',
    `https://www.camhub.cc/search/${search}/`,
  ],
  [
    'CamSave',
    // `https://www.camsavexx.com/search/?q=${search}`,
    `https://www.camsave2.com/?search=${search}`,
  ],

  [
    'EPorner',
    `https://www.eporner.com/search/${search}/`,
  ],
  [
    'OnScreens',
    `https://www.onscreens.me/search?q=${search}`,
  ],
  [
    'CamBro',
    `https://www.cambro.tv/search/${search}/`,
  ],

  [
    'BustyAndBooty',
    `https://bustyandbooty.webcam/search/?q=${search}`,
  ],
  [
    'FuckIt',
    `https://www.fuckit.cc/models/${search}/`,
  ],
  [
    'camchickscaps',
    `https://camchickscaps.com/?s=${search}`,
  ],

  [
    'moreamateurs',
    `https://moreamateurs.com/models/${search}/`,
  ],
  ['afrilov', `https://afrilov.com/?s=${search}`],

  [
    'HotWebCams',
    `https://hotwebcams.org/model/${search}/`,
  ],
  [
    'erome',
    `https://erome.com/search?q=${search}`,
  ],
]

const faves = [
  [
    'Google',
    `https://www.google.com/search?q=${search}+cam`,
  ],
  [
    'LiveCamRips',
    `https://www.livecamrips.su/search/${search}/1`,
  ],
  [
    'ArchiveBate',
    `https://archivebate.com/profile/${search}`,
  ],
  [
    'images',
    `https://www.google.com/search?q=${search}+cam&sca_esv=ccd2c1cf7e06f38b&sxsrf=AHTn8zrystSOxOE3G3Hyp6sCQ-eRMUgzZg:1744640248567&source=hp&biw=1239&bih=621&ei=9xj9Z5rXNYqTwbkPpZ2UiQY&iflsig=ACkRmUkAAAAAZ_0nCCgQc6UcLGEJUi1Vj0QgKKht6NOG&ved=0ahUKEwjarvGx29eMAxWKSTABHaUOJWEQ4dUDCBc&uact=5&oq=test&gs_lp=EgNpbWciBHRlc3QyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAESK4KUABYwgNwAHgAkAEAmAFzoAG9A6oBAzAuNLgBA8gBAPgBAYoCC2d3cy13aXotaW1nmAIEoALZA5gDAJIHAzAuNKAHjBGyBwMwLjS4B9kD&sclient=img&udm=2`,
  ],
]

const legacy = [
  [
    'SpankBang',
    `https://fr.spankbang.com/s/${search}/`,
  ],
  [
    'Fap666',
    `http://www.fap666.com/search/${search}`,
  ],
  [
    'ShowCamRips',
    `https://www.showcamrips.com/model/en/${search}`,
  ],
]
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>
      {`${search && `${search} – `}MetaSearchCam`}
    </title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
  </head>

  <body class='container'>
    <form>
      <input
        type='text'
        name='search'
        autofocus
      />
      <input type='submit' hidden />
    </form>

    <h1>{search}</h1>
    <div class='row'>
      {
        faves
          .sort((a, b) =>
            a[0].localeCompare(b[0])
          )
          .map(site => (
            <a
              href={site[1]}
              target='_blank'
              class='btn green'
            >
              {site[0]}
            </a>
          ))
      }
    </div>
    <div class='row'>
      {
        sites
          .sort((a, b) =>
            a[0].localeCompare(b[0])
          )
          .map(site => (
            <a
              href={site[1]}
              target='_blank'
              class='btn blue'
            >
              {site[0]}
            </a>
          ))
      }
    </div>
    <div class='row'>
      {
        legacy
          .sort((a, b) =>
            a[0].localeCompare(b[0])
          )
          .map(site => (
            <a
              href={site[1]}
              target='_blank'
              class='btn red'
            >
              {site[0]}
            </a>
          ))
      }
    </div>

    <!-- <div class='collection'>
      {
        sites.map(site => (
          <a
            href={site[1]}
            target='_blank'
            class='collection-item'
          >
            {site[0]}
          </a>
        ))
      }
    </div> -->
  </body>
</html>
